.ShoppingCart {
  width: 100%;
  height: 20vh;
  background-color: #595a54;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShoppingCartfont {
  font-size: 2.4rem !important;
  font-weight: bold !important;
  color: rgba(240, 248, 255, 0.939) !important;
}
.ShoppingCart-rigth-box {
  width: 60%;
  height:fit-content;
  border: 0.1rem solid #595a54;
  text-align: right;
  direction: rtl;
}
.ShoppingCart-left-box {
  width: 25%;
  height: 27rem;
  border: 0.1rem solid #595a54;
  text-align: right;
  direction: rtl;
}
.ShoppingCart-rigth-box-header {
  width: 100%;
  height: 5.5rem;
  background-color: #d9d9d9;
  display: flex;
}
.ShoppingCart-left-box-header{
    width: 100%;
    height: 5.5rem;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShoppingCart-rigth-box-header-child {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShoppingCart-rigth-box-col {
  width: 100%;
  /* height: 9.5rem; */

  display: flex;
}
.ShoppingCart-rigth-box-col-child {
  width: 25%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.ShoppingCart-rigth-box-col-child-sec1{
  width: 25%;
  display: flex;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
}
.ShoppingCart-rigth-box-col-child-img{
    width: 8rem;
    height: 8rem;
}
.ShoppingCart-rigth-box-col-child-add{
    width: 2.5rem!important;
    height: 2.5rem!important;
    padding: 0!important;
    margin: 0!important;
    color: rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem!important;
    min-width: 3rem!important;
}
.ShoppingCart-rigth-box-col-child-add:hover{
    width: 2.5rem!important;
    height: 2.5rem!important;
    padding: 0!important;
    margin: 0!important;
    /* border:.1rem solid #9F9F9F!important; */
    color: rgb(16, 15, 15);
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ShoppingCart-rigth-box-col-child-minus{
    width: 2.5rem!important;
    height: 2.5rem!important;
    /* border:.1rem solid #9F9F9F!important; */
    font-size: 1.6rem!important;
    color: rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 3rem!important;

}
.ShoppingCart-rigth-box-col-child-minus:hover{
    width: 2.5rem!important;
    height: 2.5rem!important;
    /* border:.1rem solid #9F9F9F!important; */
    color: rgb(16, 15, 15);
    /* background-color: #d9d9d9; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ShoppingCart-rigth-box-col-child-number{
    width: 2.5rem!important;
    height: 2.5rem!important;
    /* border:.1rem solid #9F9F9F!important; */
    color: rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tomen-font{
    font-size: 1.4rem!important;
    margin-right: .5rem!important;
}
.ShoppingCart-left-box-col{
    width: 100%;
    height: 85%;
    padding-top: 1rem;

}
.ShoppingCart-left-box-col-child{
    width: 100%;
    height: 15%;
    display: flex;
    gap: 3rem;
}
.ShoppingCart-left-box-col-left{
  width: 50%!important;
  height: 100%!important;
}
.ShoppingCart-left-box-col-rigth{
  width: 50%!important;
  height: 100%!important;
}
.ShoppingCart-left-box-col-rigth-child{
  width: 100%;
  height: 23%;
  padding-right: 2rem;
}
.ShoppingCart-left-box-col-left-child{
  width: 100%;
  height: 23%;
  /* padding: 1rem; */
}
.ShoppingCart-left-box-col-left-child-input{
  width: 68%!important;
  height: 60%!important;
  /* background-color: #595a5445; */
  border: .1rem solid #01010157!important;
  /* border: none!important; */

}
.ShoppingCart-left-box-col-left-child-button{
  width: 20%!important;
  height: 60%!important;
  background-color: #F6BD32;
   border: none!important; 
}
.ShoppingCart-left-box-col-left-child-button:hover{

  background-color: #f7cb5d;
}
.ShoppingCart-left-box-col-left-child-button:active{

  background-color: #e7c46c;

}

.ShoppingCart-left-box-col-left-child-input::placeholder{
  width: 100%!important;
  height: 100%!important;
color: rgba(48, 48, 48, 0.664)!important;
font-size: 1rem!important;
padding-right: 1rem!important;;
}
.ShoppingCart-left-box-col-left-child-BTN{
  width: 15rem!important;
  height: 3.5rem!important;
  font-size: 1.5rem!important;
}
.ShoppingCart-left-box-col-rigth-child-PRICE{
  font-weight: bolder!important;
}