.single-Product-Image {
  width: 100%;
}

.Single-Product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}
.Single-transition-Product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Single-Product-Title {
  height: 4rem;
  width: 100% !important;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
  font-weight: bold !important;
}

.Single-Product-Explain {
  width: 60rem;
  font-size: 1.4rem !important;
  text-align: right !important;
  display: flex;
  align-items: center;
}
.Single-Product-info {
  border: 0.1rem solid #d9d9d9;
  width: 100%;
  direction: rtl;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.Single-Product-transition-info {
  border: 0.1rem solid #d9d9d9;
  width: 100%;
  font-size: 1.5rem;
  direction: rtl;
  display: flex;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
}
.Single-Product-payAttention {
  display: flex;
  border-top: 0.1rem solid #d9d9d9e6;
  gap: 0.5rem;
  color: #9e9a9a;
  font-size: 1rem !important;
}
.Single-Product-guaranty {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem !important;
  font-weight: bolder !important;
}
.Single-Product-Price {
  font-size: 1.5rem !important;
  color: #ef3030;
}
.Single-Product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Single-Product-section-parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Single-Product-button {
  font-size: 1.3rem !important;
  background-color: #24b85a !important;
}
.Single-Product-garauntyPic {
  width: 3rem;
}
.Single-Product-moneyPic {
  width: 3rem;
}
.single-Product-mini-Image {
  width: 8rem !important;
  border: 0.1rem solid #9e9a9ab1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deliverPic {
  width: 10rem;
}
.Single-Product-about-product {
  width: 30%;
  /* height: 50vh; */
  margin: 0.5rem;
}
.Single-Product-section-parent {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2rem;
  background-color: #00f2ff00;
}
.Single-Product-about-product-img {
  width: 6rem;
  display: flex;
  flex-direction: column;
}
.Single-Product-about-product-sections {
  display: flex;
  border-bottom: 0.1rem solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  cursor: pointer;
  filter: saturate(0%);
  direction: rtl !important;
}
.Single-Product-about-product-title-sections {
  display: flex !important;
  justify-content: center !important;
  color: #ef3030 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  text-align: right !important;
  direction: rtl !important;
}
/* /Typography */
.Single-Product-about-product-sections:hover {
  filter: saturate(100%);
}
.Single-Product-about-product-img:active {
  filter: brightness(120%);
}
.hereButton {
  color: #ef3030;
  font-size: 1.3rem !important;
  font-weight: bold !important;
  padding: 0.5rem !important;
  cursor: pointer !important;
}
.watch-Product{
    font-size: 1.6rem!important;
    font-weight: bold!important;
    direction: rtl;
    align-items: flex-start;

    margin: 1rem!important;
    border-bottom: .1rem solid #d9d9d9;
}

