.downoadApp{
    width: 100%;
    height: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1rem;
    align-items: center;
    box-shadow: inset 5px -1px 5px 1px rgba(14, 14, 14, 0.115)  ;
}
.icons{
    color: #F86565!important;
    font-size: 1.8rem!important;
    cursor: pointer;
}
.icons:hover{
    color: rgb(111, 162, 40)!important;
}
.fontStyle{
    font-size: 1.6rem!important;
    color:rgba(3, 3, 3, 0.854)!important;
    padding-right: 4rem!important;
}
.fontStyleProduct{
    font-weight: bold!important;
}
.fontStyleSeeAll{
    text-decoration: underline;
    padding-left: 4rem!important;
    cursor: pointer!important;
}
.banner{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.banner img{
    width: 30%;
}
.middle-Page-banner{
    width: 100vw!important;
}
@media screen and  (max-width: 768px) {
    .middle-Page-banner{
        width: 100vw!important;
    }  
    .fontStyle{
        font-size: 1rem!important;
        color:rgba(3, 3, 3, 0.854)!important;
        padding-right: 1rem!important;
    }
}

/* @media screen and  (max-width: 904px) {
    .middle-Page-banner{
        width: 100vw!important;
    }  
    .fontStyle{
        font-size: 1rem!important;
        color:rgba(3, 3, 3, 0.854)!important;
        padding-right: 8rem!important;
    }
    .fontStyleSeeAll{
        text-decoration: underline;
        padding-left: 8rem!important;
        cursor: pointer!important;
    }
} */
/* @media screen and  (max-width: 1203px) {
    .middle-Page-banner{
        width: 100vw!important;
    }  
    .fontStyle{
        color:rgba(3, 3, 3, 0.854)!important;
        padding-right: 12rem!important;
    }
    .fontStyleSeeAll{
        text-decoration: underline;
        padding-left: 12rem!important;
        cursor: pointer!important;
    }
} */