.tayble-order {
  width: 80%;
  height: 4rem;
  border-bottom: 0.1rem solid rgba(88, 88, 88, 0.22);
  margin-top: 5rem;
  display: flex;
  background-color: blueviolet;
  color: rgb(246, 242, 242);
  border-radius: .3rem .3rem 0 0;
}
.tayble-order-rows {
  width: 80%;
  height: 4rem;
  border: 0.1rem solid rgba(88, 88, 88, 0.22);
  display: flex;
  background-color: rgb(248, 248, 248);
  color: rgb(42, 42, 42);
}
.order-tayble-order-status{
  width: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tayble-order-rows:hover {
    width: 80%;
    height: 4rem;
    border: 0.1rem solid rgba(88, 88, 88, 0.22);
    display: flex;
    background-color: rgb(245, 251, 255);
    color: rgb(42, 42, 42);
  }
.order-tayble-order {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: .1rem solid #000; */
}
.order-tayble-view-icon {
  font-size: 2.5rem !important;
  color: rgb(0, 134, 236) !important;
  cursor: pointer !important;
}
.order-tayble-view-icon:hover {
  font-size: 2.5rem !important;
  color: rgb(27, 156, 255) !important;
  cursor: pointer !important;
}
.Select-OrderList{
  direction: rtl!important;
  text-align: right!important;
  font-size: 1.3rem!important;
}
