.modalEye-title {
  text-align: center !important;
  font-size: 1.9rem !important;
  background-color: blueviolet;
  color: aliceblue;
}

.ModalView-price-store-title {
  font-size: 1.4rem !important;
  font-family: 'IRANSans'!important;

}
.detail-eyeModal {
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
}
.detail-eyeModal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: .1rem solid rgb(209, 209, 209);
}
.description-modalEye{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.4rem!important;
    font-family: 'Shabnam'!important;

}
.Closa-eyeModal{
    font-size: 1.4rem!important;
    margin-top: 1.5rem!important;


}
