.iconsCircle {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.icon{
  filter: grayscale(60%)!important;

}
.icon:hover{
  filter: grayscale(0%)!important;

}
