.priceStyle{
    font-size: 1.6rem!important;
    color:#FD7668;
    font-weight: bold!important;
}
.buttonStyle{
    background-color: #FD6E5E!important;
    width: 12.6rem!important;
    font-size: 1.5rem!important;
}