.footer {
  margin-top: .2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.214);
  display: flex;
  gap: 10rem;
  background-color: #444540;
  padding-top: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}
.fontStyles {
  font-size: 1.6rem !important;
  cursor: pointer;
  color: rgb(222, 222, 222)!important;
}
.fontStylesTitle{
  font-size: 1.6rem !important;
  color: rgb(232, 232, 232)!important;

}
.fontStylesParent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
}
.footerstyleforinput {
  text-align: right;
  padding-right: 0.5rem;
}
.footerstyleforinputregistration {
  width: 4rem;
  height: 4rem;
  background-color: #eeb21b;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem 0 0 0.5rem;
}
.footerstyleforinputregistration:hover {
  background-color: #e8bd51;
}
.footerstyleforinputregistration:active {
    background-color: #eac974;
  }
  .iconFooter{
    width: 15%!important;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .iconFooter:hover{
    font-weight: bold!important;
  }
  .iconFooter-parent{
    justify-content:space-around!important;
    background-color: #44454032;
  }
  .titleIconsFooter{
    font-size: 1.4rem!important;
  }
  .titleIconsFooter:hover{
    font-weight: bold!important;
  }
  .footer-icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    filter: saturate(100%);
  }
  .footer-icon-box:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    filter: saturate(150%);

  }
  .pikab-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: .1rem solid #44454019;
    padding-top: .5rem!important;
    margin-top: 5rem!important;
  }
  .pikab-section-font{
    font-size: 3rem!important;
    font-weight: bolder!important;
    color: #8a6300fc!important;
    padding-right: 3.5rem;
  }
  .pikab-section-subfont{
    font-size: 1.4rem!important;
    padding-right: 3.5rem!important;
    color:#44454092!important
  }
